@model AssesmentByNimap.Models.Category

@{
}

<h1>Add Category</h1>
<form asp-action="Create" method="post">
    <label for="CategoryName"></label>
    <input type="text" name="CategoryName" />
    <button type="submit" class="btn btn-outline-info">Add Category</button>
</form>
