@model AssesmentByNimap.Models.Category

 


<h3>Delete Category</h3>
<dl class="row">
    <dt class="col-cm-2">
        @Html.DisplayNameFor(model => model.CategoryId)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => model.CategoryId)
     </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CategoryName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CategoryName)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Back To List</a>
</form>
