@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AssesmentByNimap.Models.Product

@{

}
<h1 class="text-center">Add Product</h1>

<form asp-action="Create">



    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group mb-2">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label>Category</label>
        <select name="CategoryId" required>
            <option value="">Select Category</option>
            @foreach (var cat in ViewBag.Categories)
            {
                <option value="@cat.CategoryId">@cat.CategoryName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Product" class="btn btn-outline-primary" />

    </div>
</form>
<a asp-action="Index">Back To List</a>
<p style="color:red">
    @ViewBag.ErrorMsg
</p>

